<link rel='stylesheet' href='/css/coop.css' />

<div class='container'>

	<div class='my-4'>
		<h2>Hola, User</h2>
	</div>

	<div class='container-child'>

		<div class='txt-information my-2'>
			<h4>Registro de cooperativas</h4>
			<p class='text-muted'>Completa los datos para continuar</p>
		</div>

		<div class='row mb-4'>
			<div class='col'>

				<div class='form-group mt-2'>
					<input
						type='number'
						id='ruc'
						name='ruc'
						placeholder='Ruc'
						class='form-control'
						autocomplete='off'
					/>
				</div>

			</div>
			<div class='col'>

				<div class='form-group mt-2'>
					<input
						type='text'
						id='name'
						name='name'
						placeholder='Nombres'
						class='form-control'
						autocomplete='off'
					/>
				</div>

			</div>
		</div>

		<div class='row mb-4'>
			<div class='col'>

				<div class='form-group mt-2'>
					<input
						type='text'
						id='address'
						name='direccion'
						placeholder='Dirección'
						class='form-control'
						autocomplete='off'
					/>
				</div>

			</div>
			<div class='col'>

				<div class='form-group mt-2'>
					<input
						type='email'
						id='email'
						name='email'
						placeholder='Email'
						class='form-control'
						autocomplete='off'
					/>
				</div>

			</div>
		</div>

		<div class='row mb-4'>
			<div class='col'>

				<div class='form-group mt-2'>
					<input
						type='number'
						id='phone'
						name='phone'
						placeholder='Telefono'
						class='form-control'
						autocomplete='off'
					/>
				</div>

			</div>
			<div class='col'>

				<div class='form-group mt-2'>
					<select
						class='form-select'
						aria-label='Default select example'
						name='typeDni'
						id='typeDni'
					>
						<option value='coop_1'>Coop. 1</option>
						<option value='coop_2'>Coop. 2</option>
						<option value='coop_3'>Coop. 3</option>
						<option value='coop_4'>Coop. 4</option>
					</select>
				</div>

			</div>
		</div>

		<div class='btn-centrar'>
			<button
				class='btn btn-block text-light mt-3'
				style='background-color: #012E40;'
			>
				Continuar
			</button>
		</div>

	</div>
</div>