<div class='container p-4'>
	<div class='row'>
		<div class='col-md-4 mx-auto'>

			<div class='card text-center'>
				<div class='card-header m-3'>
					<h3 style='color: #012E40;'>Login</h3>
				</div>
				<div class='card-body'>
					<img
						style='width: 100px ;'
						src='https://cdn-icons-png.flaticon.com/512/4004/4004174.png'
						class='card-img-top'
						alt='logo'
					/>
					<form action='/signin' method='POST'>
						<div class='form-group mt-2'>
							<p class='text-muted mb-4'>
								Utilice el mismo correo electrónico proporcionado cuando se
								registro para cambiar la contraseña.
							</p>

							<input
								type='number'
								name='email'
								placeholder='Email'
								class='form-control'
								autocomplete='off'
							/>

							<button
								class='btn btn-block text-light mt-3'
								style='background-color: #012E40;'
							>
								Enviar
							</button>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>
</div>