<div class='container p-4'>
	<div class='row'>
		<div class='col-md-4 mx-auto'>

			<div class='card text-center'>
				<div class='card-header m-3'>
					<h3 style='color: #012E40;'>Registro</h3>
				</div>
				<div class='card-body'>
					<img
						style='width: 100px ;'
						src='https://cdn-icons-png.flaticon.com/512/4004/4004174.png'
						class='card-img-top'
						alt='logo'
					/>
					<form action='/signin' method='POST'>
						<div class='form-group mt-2'>
							<input
								type='text'
								name='name'
								placeholder='Nombre'
								class='form-control'
								autocomplete='off'
							/>
						</div>
						<div class='form-group mt-2'>
							<input
								type='text'
								name='lastName'
								placeholder='Apellido'
								class='form-control'
								autocomplete='off'
							/>
						</div>
						<div class='form-group mt-2'>
							<input
								type='number'
								name='dni'
								placeholder='Dni'
								class='form-control'
								autocomplete='off'
							/>
						</div>
						<div class='form-group mt-2'>
							<select
								class='form-select'
								aria-label='Default select example'
								name='typeDni'
								id='typeDni'
							>
								<option value='type_1'>Type 1</option>
								<option value='type_2'>Type 2</option>
								<option value='type_3'>Type 3</option>
								<option value='type_4'>Type 4</option>
							</select>
						</div>
						<div class='form-group mt-2'>
							<input
								type='number'
								name='email'
								placeholder='Email'
								class='form-control'
								autocomplete='off'
							/>
						</div>
						<div class='form-group mt-2'>
							<input
								type='password'
								id='password'
								name='password'
								placeholder='Contraseña'
								class='form-control'
								autocomplete='off'
							/>
						</div>

						<div class='form-group mt-2'>

							<div class=''>
								<a href='/coop/login'>Login</a>
							</div>

							<button
								class='btn btn-block text-light mt-3'
								style='background-color: #012E40;'
							>
								Registrarme
							</button>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>
</div>